//
// Scaffolding
//
// Explicit baseline styles for core structural elements.
//

// html defaults

html {
    font-size: $font-size-base;
    font-family: $font-family-base;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: $colour-null;
}

// body defaults
body {
    min-height: 100vh;
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $colour-text;
    text-align: left;
    background-color: $colour-body;
    -webkit-overflow-scrolling: touch;
}

// Lists
ol {
    margin: 1em 0;
    padding: 0 0 0 1.5em;
}

ul {
    margin: 1em 0;
    padding: 0 0 0 1.5em;
}

// Horizontal rules
hr {
    height: 0;
    margin: 1em 0;
    border: 0;
    border-top: $border-default;
}
