// Colours
//
// The colour palette for web.
//
// Styleguide Core.Colours


// Utility Colours

$colour-null: rgba(0, 0, 0, 0);
$colour-black: #000;
$colour-white: #fff;


// Default Colours
//
// The default colours for certain elements.
//
// $colour-body - #fff; body background colour
// $colour-text - #333; text colour
// $colour-text-muted - #636c72; muted text colour
// $colour-link - #0275d8; link colour
// $colour-border - #ddd; defeault border colour
//
// Styleguide Core.Colours.Default

$colour-body: #fff;
$colour-text: #333;
$colour-text-muted: #636c72;
$colour-link: #0275d8;
$colour-border: #ddd;


// Brand Colours
//
// The primary colors for branding.
//
// $colour-brand-primary - #e9e9e9; Primary
// $colour-brand-secondary - #333; Secondary
// $colour-brand-highlight - #e87e04; Highlight
//
// Styleguide Core.Colours.Brand

$colour-brand-primary: #e9e9e9;
$colour-brand-secondary: #333;
$colour-brand-highlight: #e87e04;


// Feedback Colours
//
// Colors for signifying certain states.
//
// $colour-state-info - #d9edf7; Info
// $colour-state-success - #dff0d8; Success
// $colour-state-warning - #f2dede; Warning
//
// Styleguide Core.Colours.Feedback

$colour-state-info: #d9edf7;
$colour-state-success: #dff0d8;
$colour-state-warning: #f2dede;


// UI Colours
//
// Colors for various UI elements such as panels

$colour-ui-panel: #f5f5f5;


// Typography

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;

$font-weight-light: 200;
$font-weight-base: 400;
$font-weight-strong: 800;

$line-height-base: 1.5;


// Links

$link-decoration: underline;
$link-hover-colour: darken($colour-link, 20%);


// Borders

$border-default: 1px solid $colour-border;
$border-radius-base: 5px;


// Shadows
$shadow-form-inset: inset 0 1px 1px rgba($colour-black, .075);
$shadow-form-inset-focus: inset 0 1px 1px transparent;
$shadow-form-focus: 0 0 0 2px $colour-text-muted;

$shadow-panel: 0 1px 1px rgba($colour-black, .075);
$shadow-panel-inset: inset 0 1px 1px rgba($colour-black, .075);


// Dimensions

$section-spacing-small: .5rem;
$section-spacing-base: 1rem;
$section-spacing-lg: 2rem;



