//
// Variables
//
// For when it's going to be used more than once.
//

// Colours
//
// The instasupply colour palette for web.
//
// Styleguide Colours

// Generic
$colour-null: rgba(0, 0, 0, 0);
$colour-black: #000;

// Default Colours
//
// The default colours for specific elements.
//
// $colour-body -  #e9e9e9; Default body background colour
// $colour-text -  #333; Default text colour
// $colour-link - #00f; Default link colour
//
// Styleguide Colours.Default
$colour-body: #e9e9e9;
$colour-text: #333;
$colour-link: #00f;

// Brand Colours
//
// The primary colors for branding.
//
// $colour-brand-primary - #e9e9e9; Primary
// $colour-brand-secondary - #333; Secondary
// $colour-brand-highlight - #ff69b4; Highlight
//
// Styleguide Colours.Brand
$colour-brand-primary: #e9e9e9;
$colour-brand-secondary: #333;
$colour-brand-highlight: #ff69b4;

// Typography
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-weight-strong: 800;
$line-height-base: 1.5;

// Scaffolding
$border-default: 2px solid $colour-text;

// Links
$link-decoration: underline;
$link-hover-colour: darken($colour-link, 20%);
