// Links
//
// The standard appearance and behaviour of links without any other class.
//
// Links should always use clear messaging and accurately convey the meaning of the link.
// Avoid using an icon alone in a link. Icons should be used to support a text description rather than replace it entirely.
//
// Markup:
// <a href="#0">view all documents</a>
//
// Styleguide Atoms.Links

a {
    color: $colour-link;
    text-decoration: $link-decoration;
    font-weight: $font-weight-base;

    &:hover,
    &:focus {
        color: $link-hover-colour;
    }

    &:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}
